<% include ./partials/header %>

    <h1 class="center"><%= title %></h1>
    <h2 class="center"><%= name %> put in your bet</h2>
    <h3>Countdown: </h3>
    <h4>Bets placed after countdown do not count!</h4>
    <form class="userform row" action="/submitBet" method="post">
      <br>
        <!-- <div class="col-xs-4">
            <div class="col">
              <label for="Name"</label>

              <select class="" name="name">
                <% for(var x = 0;x<users.length;x++) { %>
                  <option value="<%= users[x]['name'] %>"><%= users[x]['name'] %></option>
                <% } %>
              </select>
            </div>
        </div> -->
        <div class="col-md-6 col-md-offset-2">
           <% for (var j = 1;j<6;j++) { %>
            <div class="col">
              <label for="characterChoice<%= j %>">Weighted Bet Slot #<%= j %></label>

              <select class="" name="characterChoice<%= j %>">
                <% for(var i = 0;i<len;i++) { %>
                  <option value="<%= characters[i]['name'] %>"><%= characters[i]['name'] %></option>
                <% } %>
              </select>
            </div>
          <% } %>
        </div>

      <br>
      <input type="submit" name="submit" value="Submit">
    </form>
  </body>
</html>
